<h1>Movie: <%= @movie.title %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year released:</b>
  <%= @movie.year %>
</p>

<% the_director = Director.find_by(id: @movie.director_id) %>
<p><b>Directed By:</b> <%= the_director.name %></p>

<br>

<h2>Add a Review:</h2>
<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :reviewer %>
  </p>

  <p>
    <%= f.label :Review %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :Rating_out_of_10 %><br />
    <%= f.number_field :rating %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>

<h2 style = "color: #0066cc">Reviews:</h2>
<% @movie.reviews.each do |review| %>
  <p>
    <strong>Name:</strong>
    <%= review.reviewer %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>
<% end %>
